.form-thanks-wrapper(data-thanks)
  .form-thanks
    .form-title Повідомлення відправлено
    .form-text.dark-text Дякуємо за звернення. Очікуйте дзвінка наших менеджерів. Бажаємо приємного дня і гарного настрою =)
    .form-thanks-close.btn(data-close-thanks)
      span Закрити

