
extends ../layout/main
block variable
  -
    var title_page = 'documents'
    var id_page = 'id-page-documents'
    var class_page = 'class-page-documents'
    var breadcrumbsSubitem = [
      {
        label: 'Документація',
        link: pagesLink[0].documents
      }
    ]

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/loader.js')
  script(defer src='./assets/scripts/menu.js')
  script(defer src='./assets/scripts/text-animation.js')
  script(defer src='./assets/scripts/sideform.js')

block content
  include ../components/breadcrumbs/breadcrumbs.pug
  .documents_wrapper.fields
    a(href="#").documents
      .row
        .time
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 13C10.3137 13 13 10.3137 13 7C13 3.68629 10.3137 1 7 1C3.68629 1 1 3.68629 1 7C1 10.3137 3.68629 13 7 13Z" stroke="#0A111B" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7 3.39993V6.99993L9.4 8.19993" stroke="#0A111B" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          span 10.12.2020
        .size
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.3335 1V8M6.3335 8L8.3335 6M6.3335 8L4.3335 6M3.3335 11H9.3335" stroke="#0A111B" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          span 0.4 МБ
      .row
        .img
          img(src="./assets/images/documents/1.png")
        .dark-text Лiцензiя Г. П. Командор ( повiдомлення, перелiк робiт, Витяг iз сайту ДАБI )


block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
